body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8e8e8;
}

h1 {
  text-align: center;
}
.searchBar-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
}

.emoji-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #f5cfcf;
}

.emoji-item:hover {
  background-color: #f4b2b2;
}

.emoji-item span {
  font-size: 2rem;
}

.emoji-item p {
  margin-top: 10px;
  font-size: 0.8rem;
  text-align: center;
}

input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
